.k1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 700px;
}

.k2 {
  display: flex;
  width: 660px;
  max-width: 700px;
}

.k3 {
  display: flex;
  max-width: 600px;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.foto1 {
  max-width: 20%;
}
.k4 {
  display: flex;
  gap: 20px;
  font-size: 8px;
  width: 600px;
  justify-content: space-evenly;
}
.k5 {
  display: flex;
  gap: 20px;
}

.tt {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
